@import url('https://fonts.googleapis.com/css?family=Orbitron:regular,bold,italic&subset=latin,latin-ext');

body {
    background-color: rgba(0, 43, 77, 1.00);
    color: rgba(49, 203, 255, 1.00);
  margin: 0;
  font-family: "Orbitron";
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.selected {
    color: #31CBFF;
}

a {
    color: #17435e
}


h1, h2 {
    text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

