@import url('https://fonts.googleapis.com/css?family=Skranji:regular,bold,italic&subset=latin,latin-ext');

body {
    background-color: rgba(0, 43, 77, 1.00);
    color: rgba(49, 203, 255, 1.00);
  margin: 0;
  font-family: "Skranji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

